<div class="container mt-5">
  <h2 class="text-center mb-4">Product List</h2>
  <div class="row">
    <div *ngFor="let product of products; let i = index" class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <div class="product-upper">
            <img src="{{ product.picture }}" alt=""/>
          </div>
          <p class="card-text">
            Quantity: {{ product.quantity }}<br>
            Price: {{ product.price | currency:'IDR' }}
          </p>
          <div class="d-flex justify-content-between">
            <a class="btn btn-primary"
              routerLink="/product/{{ product.id }}">
              Detail
            </a>
            <button class="btn btn-success"
              rel="nofollow"
              routerLink="/invoice"
              (click)="checkout(product)">
              Add To Invoice
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
